.content{
	position: relative;
	top: inherit;
	transform: none;
	height: inherit;
}
.slide .content .inside1000px .step2{
	width: 157px;
	max-width: inherit;
	height: inherit;
	margin: 0 10px 20px 40px;
	background-image: url(../img/bg_rest_part2_step_m.png);
    background-position: center top;
    background-repeat: repeat-y;
	padding: 10px 0; 
}
.slide .content .inside1000px .step2 .step_img{
	width: inherit;
	float: none;
	margin: 40px 0;
	position: relative;
}
.slide .content .inside1000px .step2 .step_img img{
	box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.4);
}
.slide .content .inside1000px .step2 .step_img h5{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 177px;
	width: 40vw;
	text-align: left;
}
